<h1 class = "title">{{title}}</h1>
<div id = "header">
    <h4>{{author}}</h4>
    <h4></h4><a href = {{url}} class = "category">{{category}}</a></h4>
    <h4>{{date}}</h4>
</div>
<img src = {{source}} id = "headerimage" alt = "Header Image">
<p>{{content}}</p>

